.wrapper {
  position: relative;
  width: 100%;
  /* background: black; */
  /* opacity: 70%; */
}
.sootnosheniye {
  position: relative;
  padding-bottom: 209.44%;
  /* background: red; */

}
.content {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  padding: 0;
  opacity: 50%;
  overflow: hidden;
  transition: all .3s;
  /* background: yellow; */
}
.first {
  position: relative;
  width: 100%;
  height: 37.1%;
  /* background: red; */
}
.second {
  position: relative;
  width: 100%;
  height: 37.1%;
  /* background: blue; */
  /* opacity: 50%; */
}
.third {
  position: relative;
  width: 100%;
  height: 25.8%;
  /* background: green; */
}

p {
  font-family: "Pragmatica";
}
.stop {
  animation-play-state: paused;
}
#bottom_plus, #bottom_minus, .buttom_handle2, .buttom_handle1, #keyboard5, #mode_buttom_left, #mode_buttom_right, .skip_buttom, .fp_buttom {
  cursor: pointer;
}
