.izv1 {
  position: absolute;
  right: -2.78%;
  top: 0%;
  width: 52.78%;
  height: 67.93%;
  background-color: blue;
  background: url( '../images/first1.svg');
  background-size: 2000% 100% ;
  background-position: -0 top;
  animation: izv1 1s steps(1) alternate infinite;
}
.names {
  position: absolute;
  font-size: 30px;
  color:#F28EC0;
}
#name1 {
  top: 44.05%;
  right: 17%
}
#name2 {
  bottom: 40.7%;
  left: 27.7%;
}

#name3 {
  bottom: 30.3%;
  left: 7.5%;
}
@keyframes izv1 {
  0% {background-position: 0 top;}
  5% {background-position: -100% top;}
  10% {background-position: -200% top;}
  15% {background-position: -300% top;}
  20% {background-position: -400% top;}
  25% {background-position: -500% top;}
  30% {background-position: -600% top;}
  35% {background-position: -700% top;}
  40% {background-position: -800% top;}
  45% {background-position: -900% top;}
  50% {background-position: -1000% top;}
  55% {background-position: -1100% top;}
  60% {background-position: -1200% top;}
  65% {background-position: -1300% top;}
  70% {background-position: -1400% top;}
  75% {background-position: -1500% top;}
  80% {background-position: -1600% top;}
  85% {background-position: -1700% top;}
  90% {background-position: -1800% top;}
  95% {background-position: -1900% top;}
}
.izv2 {
  position: absolute;
  right: -2.78%;
  top: 0%;
  width: 102.56%;
  height: 100%;
  background: url( '../images/first2.svg');
  background-size: 2000% 100% ;
  background-position: -0 top;
  animation: izv1 1s steps(1) alternate infinite;
}
.think_counter {
  position: absolute;
  width: 22.3%;
  height: 15.8%;
  top: 7.2%;
  left: 5.5%;
  /* background: blue; */
}
.think_counter_image {
  position: absolute;
  width: 100%;
  border-radius: 20px;
  box-sizing: border-box;
}
#think_counter_image1 {
  border: 5px solid #A4DDD4;
  height: 97.9%;
  background-color: black;
}
#think_counter_image_shadow {
height: 100%;
border: 5px solid #71B4A9;

}
#think_counter1 {
  position: absolute;
  font-size: 30px;
  color: #A4DDD4;
  left: calc(50% - 50px);
  top: 16.5%;
}
.think_counter_result {
  font-family: PT Mono;
  position: absolute;
  font-size: 90px;
  color: #A4DDD4;
  bottom: 15%;
  opacity: 0;
}
#think_counter_result1 {
  left: 16.4%;
}
#think_counter_result2 {
  left: 33.2%;
}
#think_counter_result3 {
  right: 33.2%;
}
#think_counter_result4 {
  right: 16.4% ;
}

.activity {
  position: absolute;
  height: 10%;
  width: 26%;
  background: #A4DDD4;
  border: 5px solid #71B4A9;
  border-radius: 20px;
  top: 26.2%;
  left: 5.5%;
}
#activity_text {
  position: absolute;
  font-size: 30px;
  color: black;
  left: calc(50% - 104px);
  top: 11%;
}
#point1, #point2 {
  font-family: PT Mono;
  position: absolute;
  font-size: 24px;
  color: black;
  bottom: 7%;
}
#point1 {
  left: 5%;
}
#point2 {
  right: 2%;
}
.activeline {
  position: absolute;
  height: 22.1%;
  background: #F28EC0;
  border-radius: 15px;
  bottom: 32%;
  width: 86%;
  left: 7%;
}

.active_point {
  position: absolute;
  background: black;
  height: 100%;
  border-radius: 50%;
  width: 7.68%;
  left: 20%;
  animation: point 20s linear infinite;
}
@keyframes point {
  0% {left: 20%}
  15.38% {left: 60%}
  23.07% {left: 40%}
  38.45% {left: 80%}
  49.99% {left: 50%}
  61.53% {left: 70%}
  76.91% {left: 30%}
  88.45% {left: 60%}
}
.mode {
  position: absolute;
  bottom: 8.1%;
  right: 2.75%;
  width: 25%;
  height: 18.9%;
  z-index: 20;
  /* background: blue; */
}
.mode_screen {
  position: absolute;
  height: 37%;
  width: 97%;
  background: #A4DDD4;
  border: 5px solid #71B4A9;
  border-radius: 20px;
  top: 21%;
}
#mode_text {
  position: absolute;
  font-size: 36px;
  color: black;
  top: calc(50% - 18px);
  left: calc(50% - 116px);
}
.mode_buttom {
  position: absolute;
  width: 35%;
  height: 33%;
  bottom: 0;
}
.mode_buttom_base {
  position: absolute;
  width: 100%;
  height: 90%;
  border-radius: 20px;
  background-color: #A4DDD4;
  bottom: 10%;
  transition: all .3s;
}
.mode_buttom_shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: #71B4A9;
  transition: all .3s;
}
#mode_buttom_left {
  left: 0;
}
#mode_buttom_right {
  right: 0;
}

#mode_buttom_left:hover #mbl_shadow {
  background-color: #DD7BAC;
  transition: all 0s;
}
#mode_buttom_left:hover #mbl_base {
  background-color: #F28EC0;
  transition: all 0s;
}
#mode_buttom_right:hover #mbr_shadow {
  background-color: #DD7BAC;
  transition: all 0s;
}
#mode_buttom_right:hover #mbr_base {
  background-color: #F28EC0;
  transition: all 0s;
}

#mode_triangle1, #mode_triangle2 {
  position: absolute;
  width: 22%;
  top: 22%;
}
#mode_triangle1 {
  left: 36%;
}
#mode_triangle2 {
  transform: rotate(180deg);
  right: 36%;
}

#mode_title {
  position: absolute;
  font-size: 36px;
  color:#A4DDD4;
  top: 0;
  left: calc(50% - 132px);
}
