@media all and (max-width: 1440px) {
  .izv_second_extra {display: none;}
}
@media all and (min-width: 1280px) {
  .class-ipadl {display: none;}
}
@media all and (max-width: 1023px) {
  .class-ipadl {display: none;}
}
@media all and (min-width: 1024px) {
  .class-ipadp {display: none;}
}
@media all and (max-width: 767px) {
  .class-ipadp {display: none;}
}
@media all and (min-width: 768px) {
  .iphone, .class-iphone {display: none;}
}
@media only screen and (min-width: 1680px) {
  body .sootnosheniye {padding-bottom: 179.52%;}
  .first .think_counter {width: 24.3%; height: 20.1%; top: 5.4%; left: 2.6%;}
  .think_counter #think_counter1 {font-size: 38px; left: calc(50% - 63px); top: 16%;}
  .think_counter .think_counter_result {font-size: 115px;}
  .first .activity {top: 28.7%; left: 2.6%; height: 12.6%; width: 27.8%;}
  .activity #activity_text {font-size: 38px; left: calc(50% - 131px); top: 9%;}
  .activity #point1, #point2 {font-size: 30px;}
  .first .mode {right: 4.6%; width: 22.6%;}
  .mode #mode_title {font-size: 38px; left: calc(50% - 140px);}
  .mode #mode_text {font-size: 38px; left: calc(50% - 123px);}
  h1 {font-size: 38px;}
  .second .buttom {width: 4.78%; height: 8.47%;}
  .second .buttom1 {left: 14.2%; top: 7.25%;}
  .second .buttom2 {right: 12%;}
  .second .colorblock {bottom: 15.4%; width: 27.2%; height: 20.1%;}
  .colorblock #color_text {font-size: 36px; left: calc(50% - 163px);}
  .second .blurblock {width: 21.9%; height: 5%; bottom: 6.7%; right: 15.7%;}
  .blurblock #blur_text {font-size: 36px; left: calc(50% - 79px); top: calc(50% - 18px);}
  .third .keyboard {width: 7.14%;}
  .third #keyboard1 {right: 24.5%;}
  .third #keyboard2 {left: 33.2%; width: 19%; top: 26%;}
  .third #keyboard3 {left: 49.7%; top: 46.5%;}
  .third #keyboard4 {right: 33.3%; top: 46.5%;}
  .third #keyboard5 {left: 33.2%; width: 14.4%; top: 46.5%;}
  .third .light_triangle {right: 7.2%; width: 4%; height: 8.65%;}
  .third .light_round {right: 6.85%; width: 4.76%;}
  .third .light_cross {width: 4.76%; right: 6.9%;}
  .third .line {bottom: 17.3%;}
  .third .line_text2 {left: 64.85%;}
  .third .bottom_bar {bottom: 1.1%;}
  .bottom_bar #bar_text1 {margin-left: 2.4%;}
  .bottom_bar #bar_text4 {margin-right: 2.4%;}
  .bottom_bar .bar_text {padding: 1.35% 0.9%;}
  .bottom_bar #bar_text3 {width: 48.5%;}
  .second .izv_second1 {width: 43%; left: 7.2%; top: -39.85%;}
  .second .izv_second2 {width: 45%; right: 7.5%; top: -9.86%;}
  .second .izv_vision {width: 70.1%;}
  .first .izv1 {background: url( '../images/first1-1680.svg'); width: 52.385%; right: -2.5%; background-size: 2000% 100%;}
  .first .izv2 {  background: url( '../images/first2-1680.svg'); background-size: 2000% 100% ; width: 102.25%; right: -2%;}
  .third .izv_third1 {background: url( '../images/third-1680.svg'); background-size: 2000% 100.3%;}
  .first #name1 {top: 44.13%; right: 20.6%}
  .first #name2 {bottom: 40.7%; left: 30.9%;}
  .second #name3 {bottom: 29.9%; left: 13.4%;}
}

@media only screen and (min-width: 1366px) and (max-width: 1439px)  {
body .sootnosheniye {padding-bottom: 220.79%;}
.first .think_counter {left: 3.2%; width: 23.4%;}
.first .activity { left: 3.2%; width: 26.7%;}
.first .mode {right: 3.2%; width: 26.4%;}
.mode .mode_buttom {width: 34%;}
.second .buttom {width: 6%; height: 8.47%;}
.second .buttom1 {left: 11.9%; top: 7.2%;}
.second .buttom2 {right: 9.2%;}
.second .colorblock {right: 8%; bottom: 16.4%; width: 27.6%; height: 16.7%;}
.second .blurblock {width: 22.4%; height: 4.1%; bottom: 9.3%; right: 13.2%;}
.third .keyboard {width: 8.78%;}
.third #keyboard1 {right: 29.5%;}
.third #keyboard2 {width: 23.3%; left: 29.4%;}
.third #keyboard3 {left: 49.7%;}
.third #keyboard4 {right: 29.4%;}
.third #keyboard5 {width: 17.7%; left: 29.4%;}
.bottom_bar .bar_text {margin: 1.3% 1% 1% 1%;}
.third .line_text2 {left: 68.4%;}
.third .light_triangle {right: 6.4%; width: 5%; height: 8.8%;}
.third .light_round {right: 6%; width: 5.85%;}
.third .light_cross { right: 6.1%;}
.first .izv1 {width: 55.64%;}
/* .first .izv2 {width: 108.346%; right: -6.5%;} */
.third .izv_third1 {width: 105.46%; left: -2.6%;}
.second .izv_second1 {width: 52.708%;}
.second .izv_second2 {width: 55.637%;}
.first .izv2 {background: url( '../images/first2-1366.svg'); width: 102.24%; right: -2.6%; background-size: 2000% 100%;}
.second .izv_vision {left: -11.7%; width: 67.68%;}
}

@media only screen and (min-width: 1025px) and (max-width: 1365px)  {
  body .sootnosheniye {padding-bottom: 235.625%;}
  .first .think_counter {left: 4%; width: 25%;}
  .first .activity { left: 4%; width: 28.5%;}
  .first .mode {right: 3.2%; width: 28%;}
  .mode .mode_buttom {width: 34%;}
  .second .buttom {width: 6.5%;}
  .second .buttom1 {left: 12.4%; top: 6.5%;}
  .second .buttom2 {right: 9.2%;}
  .second .colorblock {right: 5.1%; bottom: 16.4%; width: 29.5%; height: 16.7%;}
  .second .blurblock {width: 23.9%; height: 4.1%; bottom: 9.3%; right: 10.7%;}
  .third .keyboard {width: 9.375%;}
  .third #keyboard1 {right: 28%;}
  .third #keyboard2 {width: 24.8%; left: 28%;}
  .third #keyboard3 {left: 50.1%;}
  .third #keyboard4 {right: 28%;}
  .third #keyboard5 {width: 18.7%; left: 28%;}
  .third .light_triangle {right: 6.5%; width: 5.3%; height: 8.72%;}
  .third .light_round {right: 6%; width: 6.25%;}
  .third .light_cross { right: 6.1%; width: 6.1%;}
  .third .line_text2 {left: 69.5%;}
  .bottom_bar #bar_text3 {width: 33%;}
  .bottom_bar .bar_text {margin: 1.3% 1% 1% 1%; padding: 1.95% 1.3%;}
  .second .izv_vision {left: -12.7%; width: 72%;}
  .first .izv1 {background: url( '../images/first1-1280.svg'); width: 59.3%; right: -3.1%; background-size: 2000% 100%;}
  .first .izv2 {background: url( '../images/first2-1280.svg'); width: 103.01%; background-size: 2000% 100%; right: -2.95%;}
  .second .izv_second2 {background: url( '../images/izv_mode1-1280.svg'); background-size: 2000% 100%; width: 59.8%; right: -3.125%; top: -9.92%;}
  .second .izv_second1 {background: url( '../images/izv_mode2-1280.svg'); background-size: 2000% 100%; width: 56.25%; left: -6.25%;}
  .third .izv_third1 {background: url( '../images/third-1280.svg'); background-size: 2000% 100%;}
  .first #name1 {right: 17.5%;}
  .first #name2 {left: 24.8%;}
  .second #name3 {left: 5.1%;}
}
@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  body .sootnosheniye {padding-bottom: 247.46%;}
  .content .first {height: 34.312%;}
  .content .second {height: 40.359%;}
  .first .think_counter {left: 2.9%; width: 30.5%; top: 5.8%; height: 19.9%;}
  .think_counter .think_counter_result {font-size: 84px; bottom: 16%;}
  .first .activity { left: 2.9%; width: 34.6%; top: 29%; height: 12.2%;}
  .first .mode {right: 18.4%; width: 31.2%; bottom: -22.3%; height: 20.5%;}
  .mode .mode_screen {border: 4px solid #71B4A9;}
  .mode #mode_text {font-size: 30px; left: calc(50% - 97px);}
  .mode #mode_title {font-size: 30px; left: calc(50% - 110px);}
  .second .buttom {width: 7.7%;}
  .second .buttom1 {left: 13.9%; top: 9%;}
  .second .buttom2 {right: 20.8%; top: 50%;}
  .second .colorblock {right: 5.9%; bottom: 14.4%; width: 31.3%; height: 15.4%;}
  .colorblock #color_text {font-size: 24px; left: calc(50% - 108px);}
  .second .blurblock {width: 26.7%; height: 3.5%; bottom: 8.8%; right: 10.5%;}
  .blurblock #blur_text {font-size: 24px; left: calc(50% - 53px); top: calc(50% - 15px);}
  .blurblock .blur_title {width: 57%;}
  .blurblock .blur_bottom {width: 13.1%;}
  .blur_bottom  .blur_bottom_text {height: 8%; left: calc(50% - 7px);}
  h1 {font-size: 30px;}
  .third .keyboard {width: 8.6%; height: 14%; border-radius: 17px;}
  .keyboard .keyboard_text {font-size: 30px; top: calc(50% - 15px);}
  .keyboard #keyboard_S {left: 12%;}
  .keyboard #keyboard_Y {right: 12%;}
  .third #keyboard1 {right: 27%; top: 8%;}
  .third #keyboard2 {width: 23.4%; left: 27%; top: 26.5%;}
  .keyboard #keyboard_SHIFT {left: calc(50% - 44px);}
  .third #keyboard3 {left: 47.9%; top: 45.8%;}
  .third #keyboard4 {right: 31.4%; top: 45.8%;}
  .third #keyboard5 {width: 17.6%; left: 27%; top: 45.8%;}
  .keyboard #keyboard_ALT {left: calc(50% - 25px);}
  .keyboard .keyboard_save_shadow {bottom: -8%;}
  .keyboard #keyboard_SAVE {left: calc(50% - 38px);}
  .third .light_triangle { top: 13.5%; right: 6.94%; width: 5.9%; border-radius: 13px;}
  .third .light_round {right: 6.5%; width: 6.56%; top: 55%;}
  .third .light_cross { right: 6.4%; width: 6.6%; top: 33.9%;}
  .third .line {height: 7.2%; bottom: 18.3%;}
  .third .line_text {font-size: 24px; top: calc(50% - 12px);}
  .third #line_text_unsaved {left: calc(50% - 196px);}
  .third #line_text_saved {left: calc(50% - 135px);}
  .third .line_text2 { font-size: 24px; left: 69.5%; top: calc(50% - 14px)}
  .third .bottom_bar {bottom: 2.27%;}
  .bottom_bar .bar_text {margin: 1% 1% 1.3% 1%; font-size: 30px; padding: 2.2% 1.6%;}
  .bottom_bar #bar_text3 {width: 28.5%;}
  .second .class1440 {display: none;}
  .second .izv_vision {width: 45.09%; left: 0%; bottom: 9%;}
  .first .izv1 {background: url( '../images/first1-ipadl.svg'); width: 58.57%; height: 82.81%; right: -2.9%; background-size: 2000% 100%; top: -3.4%;}
  .first .izv2 {background: url( '../images/first2-ipadl.svg'); width: 99.6%; background-size: 2000% 100%; right: -2.5%; height: 106.96%;}
  .second .izv_second2 {background: url( '../images/izv_mode1-ipadl.svg'); background-size: 2000% 100%; width: 55.66%; right: -2.9%; top: 8.902%; height: 58.67%;}
  .second .izv_second1 {background: url( '../images/izv_mode2-ipadl.svg'); background-size: 2000% 100%; width: 70.31%; left: -3%; height: 38.134%; top: -5.7%;}
  .third .izv_third1 {background: url( '../images/third1-ipadl.svg'); background-size: 2000% 100%; width: 100.57%; height: 78%; top: -4.2%;}
  .content .names {font-size: 24px;}
  .first #name1 {top: 39.1%; right: 25.5%;}
  .first #name2 {bottom: 40.8%; left: 23.6%;}
  .second #name3 {bottom: 5.5%; left: 11%;}
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  body .sootnosheniye {padding-bottom: 349.35%;}
  .content .first {height: 36.83%;}
  .content .second {height: 38.976%;}
  .content .third {height: 24.194%;}
  .first .think_counter {left: 4.6%; width: 35.4%; top: 3.7%; height: 15.2%;}
  .think_counter .think_counter_result {font-size: 74px; bottom: 16%;}
  .think_counter #think_counter1 {font-size: 24px; left: calc(50% - 40px);}
  .first .activity { left: 4.6%; width: 40.7%; top: 21.6%; height: 9.7%; border: 3px solid #71B4A9;}
  .activity #activity_text {font-size: 24px; left: calc(50% - 83px);}
  .activity #point1, #point2 {font-size: 22px;}
  .activity #point2 {right: 3%;}
  .first .mode {right: 18.9%; width: 38%; bottom: -22.4%; height: 17.1%;}
  .mode .mode_screen {border: 3px solid #71B4A9; height: 35%;}
  .mode #mode_text {font-size: 30px; left: calc(50% - 97px); top: calc(50% - 15px);}
  .mode #mode_title {font-size: 30px; left: calc(50% - 110px);}
  .second .buttom {width: 11.1%;}
  .buttom .handle_box {bottom: -5%;}
  .second .buttom1 {left: 9.5%; top: 8.55%;}
  .second .buttom2 {right: 20.3%; top: 51.5%;}
  .second .colorblock {right: 3.5%; bottom: 16.2%; width: 41.8%; height: 15.1%;}
  .colorblock #color_text {font-size: 24px; left: calc(50% - 108px);}
  .second .blurblock {width: 35.5%; height: 3.3%; bottom: 11.2%; right: 9.8%;}
  .blurblock #blur_text {font-size: 24px; left: calc(50% - 53px); top: calc(50% - 15px);}
  .blurblock .blur_title {width: 57%;}
  .blurblock .blur_bottom {width: 13.1%;}
  .blur_bottom  .blur_bottom_text {height: 8%; left: calc(50% - 7px);}
  h1 {font-size: 30px;}
  .think {padding: 2.5% 2.5%;}
  .third .keyboard {width: 11.7%; height: 14%; border-radius: 17px;}
  .keyboard .keyboard_text {font-size: 30px; top: calc(50% - 15px);}
  .keyboard #keyboard_S {left: 12%;}
  .keyboard #keyboard_Y {right: 12%;}
  .third #keyboard1 {right: 25.8%; top: 9%;}
  .third #keyboard2 {width: 31.1%; left: 19%; top: 27.5%;}
  .keyboard #keyboard_SHIFT {left: calc(50% - 44px);}
  .third #keyboard3 {left: 46.8%; top: 46.8%;}
  .third #keyboard4 {right: 25.8%; top: 46.8%;}
  .third #keyboard5 {width: 23.6%; left: 19%; top: 46.8%;}
  .keyboard #keyboard_ALT {left: calc(50% - 25px);}
  .keyboard .keyboard_save_shadow {bottom: -8%;}
  .keyboard #keyboard_SAVE {left: calc(50% - 38px);}
  .third .light_triangle { height: 6.75%; top: 13.8%; right: 6%; width: 6.1%; border-radius: 10px;}
  .third .light_round {right: 5.1%; width: 7.56%; top: 60.2%; height: 8.9%;}
  .third .light_cross { right: 5.2%; width: 6.6%; top: 37%; height: 8.8%;}
  .third .line {height: 7.2%; bottom: 17.1%;}
  .third .line_text {font-size: 24px; top: calc(50% - 14px);}
  .third #line_text_unsaved {left: calc(50% - 196px);}
  .third #line_text_saved {left: calc(50% - 135px);}
  .third .line_text2 { font-size: 24px; left: 76%; top: calc(50% - 15px)}
  .bottom_bar .bar_text {margin: 2.1% 1% 1.3% 1%; font-size: 30px; padding: 2.6% 2.4%;}
  .bottom_bar #bar_text3 {width: 5%;}
  .second .class1440 {display: none;}
  .second .izv_vision {width: 48.21%; left: -5%; bottom: 8%;}
  .first .izv1 {background: url( '../images/first1-ipadp.svg'); width: 61.17%; height: 72.86%; right: -4%; background-size: 2000% 100%; top: -3%;}
  .first .izv2 {background: url( '../images/first2-ipadp.svg'); width: 106.57%; background-size: 2000% 100%; right: -3.8%; height: 106.26%; top: -3.2%;}
  .second .izv_second2 {background: url( '../images/izv_mode1-ipadp.svg'); background-size: 2000% 100%; width: 57.29%; right: -4.1%; top: 11.5%; height: 57.377%;}
  .second .izv_second1 {background: url( '../images/izv_mode2-ipadp.svg'); background-size: 2000% 100%; width: 70.31%; left: -4.2%; height: 40.164%; top: -5.7%;}
  .third .izv_third1 {background: url( '../images/third-ipadp.svg'); background-size: 100% 100%; width: 100%; height: 78%; top: -4.2%;}
  .content .names {font-size: 24px;}
  .first #name1 {top: 34.3%; right: 24.6%;}
  .first #name2 {bottom: 51.1%; left: 19.7%;}
  .second #name3 {bottom:4.8%; left: 6.2%;}
}
@media only screen and (max-width: 767px) {
  body .sootnosheniye {padding-bottom: 544.06%;}
  .content .first {height: 46.45%;}
  .content .second {height: 34.4%;}
  .content .third {height: 19.15%;}
  .first .think_counter {left: 3.9%; width: 52.4%; top: 3%; height: 11.4%;}
  .think_counter .think_counter_result {font-size: 49px; bottom: 16%;}
  .think_counter #think_counter_image_shadow {border: 3px solid #71B4A9;}
  .think_counter #think_counter_image1 {border: 3px solid #A4DDD4;}
  .think_counter .think_counter_image {border-radius: 10px;}
  .think_counter #think_counter1 {font-size: 15px; left: calc(50% - 25px);}
  .first .activity { left: 3.9%; width: 60.5%; top: 16.2%; height: 7.2%; border: 3px solid #71B4A9; border-radius: 10px;}
  .activity #activity_text {font-size: 15px; left: calc(50% - 52px); top: 6.5%;}
  .activity #point1, #point2 {font-size: 13px;}
  .activity #point2 {right: 3%;}
  .first .mode {right: 4%; width: 46%; bottom: 3%; height: 10.4%;}
  .mode .mode_screen {border: 2px solid #71B4A9; height: 35%; border-radius: 10px;}
  .mode #mode_text {font-size: 15px; left: calc(50% - 48px); top: calc(50% - 7px);}
  .mode #mode_title {font-size: 15px; left: calc(50% - 55px); top: -5%;}
  .mode .mode_buttom_shadow, .mode_buttom_base {border-radius: 10px;}
  .second .buttom {width: 13.3%;}
  .buttom .handle_box {bottom: 7%; z-index: 20; left: 35%;}
  .second .buttom1 {left: 15.1%; top:12.5%;}
  .second .buttom2 {right: 21%; top: 49.5%;}
  .second .colorblock {right: 4%; bottom: 20.2%; width: 49.8%; height: 13.2%;}
  .colorblock #color_text {font-size: 13px; left: calc(50% - 59px);}
  .colorblock .color_mode {border-radius: 10px;}
  .colorblock #color_mode_base {border: 3px solid #A4DDD4; }
  .colorblock #color_mode_shadow {border: 3px solid #71B4A9; }
  .second .blurblock {width: 47%; height: 3.3%; bottom: 15.5%; right: 6.9%;}
  .blurblock #blur_text {font-size: 13px; left: calc(50% - 28px); top: calc(50% - 8px);}
  .blurblock .blur_title {width: 57%; border: 2px solid #71B4A9}
  .blurblock .blur_bottom {width: 13.1%;}
  .blur_bottom  .blur_bottom_text {height: 8%; left: calc(50% - 4px); top:42%;}
  h1 {font-size: 15px;}
  .think {padding: 3%; border: 3px solid #A4DDD4;}
  .think .skip_buttom {left: 3px; top: 3px;}
  .third .keyboard {width: 16%; height: 15.5%; border-radius: 10px;}
  .keyboard .keyboard_text {font-size: 15px; top: calc(50% - 7px);}
  .keyboard #keyboard_S {left: 12%;}
  .keyboard #keyboard_Y {right: 12%;}
  .third #keyboard1 {right: 10.8%; top: -6.3%;}
  .third #keyboard2 {width: 42%; left: 14.5%; top: 14.2%;}
  .keyboard #keyboard_SHIFT {left: calc(50% - 22px);}
  .third #keyboard3 {left: 51.8%; top: 35.5%;}
  .third #keyboard4 {right: 10%; top: 35.5%;}
  .third #keyboard5 {width: 31.6%; left: 14.2%; top: 35.5%;}
  .keyboard #keyboard_ALT {left: calc(50% - 13px);}
  .keyboard .keyboard_save_shadow {bottom: -8%;}
  .keyboard_save_shadow, .keyboard_save_body {border-radius: 10px;}
  .keyboard #keyboard_SAVE {left: calc(50% - 19px);}
  .third .light_triangle { height: 6.6%; top: 61%; right: auto; width: 6.875%; border-radius: 4px; left: 16%;}
  .third .light_round {right: 11%; width: 9.69%; top: 59.5%; height: 9.3%;}
  .third .light_cross { right: 40.8%; width: 10.5%; top: 59%; height: 10.8%;}
  .third .line {height: 8.7%; bottom: 16.3%;}
  .third .line_text {font-size: 15px; top: calc(50% - 8px);}
  .third #line_text_unsaved {left: calc(50% - 133px);}
  .third #line_text_saved {left: calc(50% - 85px);}
  .third .line_text2 { font-size: 15px; left: 86%; top: calc(50% - 9px)}
  .bottom_bar .bar_text {margin: 3.1% 1% 1.3% 1%; font-size: 15px; padding: 2.6% 2.4%; border: 3px solid #A4DDD4}
  .bottom_bar #bar_text3 {width: 5%;}
  .bottom_bar #bar_text1 {margin-left: 3.5%;}
  .bottom_bar #bar_text4 {margin-right: 3.5%;}
  .bottom_bar #bar_text3 {display: none;}
  .first .izv1 {background: url( '../images/first1-iphone.svg'); width: 43.75%; height: 39.57%; right: 0%; background-size: 100% 100%; top: 2.5%;}
  .first .izv2 {background: url( '../images/first2-iphone.svg'); width: 96.32%; background-size: 100% 100%; right: 0%; height: 57.19%; top: 0%;}
  .first .iphone {width: 87.5%; position: absolute; bottom: 6.3%; right: 0;}
  .second .izv_second2 {background: url( '../images/izv_mode1-iphone.svg'); background-size: 2000% 100%; width: 68.75%; right: -6%; top: 0.1%; height: 66.79%;}
  .second .izv_second1 {background: url( '../images/izv_mode2-iphone.svg'); background-size: 2000% 100%; width: 87.5%; left: -6%; height: 36.735%; top: -3.3%;}
  .second .class1440 {display: none;}
  .second .izv_vision {width: 42.63%; left: -2%; bottom: 10%;}
  .third .izv_third1 {background: url( '../images/third-iphone.svg'); background-size: 100% 100%; width: 100%; height: 78%; top: -6.2%;}
  .content .names {font-size: 10px;}
  .first #name1 {top: 27%; right: 17.4%; transform: rotate(-90deg);}
  .first #name2 {bottom: 63.8%; left: 27.6%;}
  .second #name3 {bottom: 26%; left: -4%; transform: rotate(-90deg);}
}
