.think {
  position: absolute;
  background-color: black;
  border: 5px solid #A4DDD4;
  padding: 1.6% 1.5%;
  font-family: Pragmatica;
  font-size: 36px;
  color: #A4DDD4;
}
h1 {
  font-family: Pragmatica;
  font-size: 36px;
  color: #A4DDD4;
}
.skip_buttom {

  height: 21%;
  position: absolute;
  left: 6px;
  top: 6px;

}
#think1 {
  top: 40%;
  left: 17.7%;
  transition: .1s
}
#think2 {
  top: 52%;
  left: 17.7%;
  transition: .1s
}
#think3 {
  top: 63%;
  left: 17.7%;
  transition: 0s;
  z-index: 2;
  transition: .1s
}
#think4 {
  top: 73%;
  left: 17.7%;
  z-index: 2;
  transition: .1s
}
#think1_text, #think2_text, #think2_text, #think4_text {
  transition: all .3s;
}
#skip1, #skip2, #skip3, #skip4 {
  transition: all .3s;
}
#skip1:hover ~ #think1_text{
  color: black;
  transition: .1s;
}
#skip2:hover ~ #think2_text{
  color: black;
  transition: .1s;

}
#skip3:hover ~ #think3_text{
  color: black;
  transition: .1s;
}
#skip4:hover ~ #think4_text{
  color: black;
  transition: .1s;
}

#skip1:hover {
  opacity: 0%;
  transition: 0s;
}
#skip2:hover {
  opacity: 0%;
  transition: 0s;

}
#skip3:hover {
  opacity: 0%;
  transition: 0s;

}
#skip4:hover {
  opacity: 0%;
  transition: 0s;

}
