.think {
  position: absolute;
  background-color: black;
  border: 5px solid #A4DDD4;
  padding: 1.6% 1.5%;
  font-family: Pragmatica;
  font-size: 36px;
  color: #A4DDD4;
}

h1 {
  font-family: Pragmatica;
  font-size: 36px;
  color: #A4DDD4;
  transition: .3s;
}
#think1_text {
  transition: all .3s;
}
.skip_buttom {
  height: 21%;
  position: absolute;
  left: 6px;
  top: 6px;
  transition: .3s;
}
#think1 {
  top: 40%;
  left: 17.7%;
}
#think2 {
  top: 52%;
  left: 17.7%;
}
#think3 {
  top: 63%;
  left: 17.7%;
  transition: 0s;
  z-index: 2;
}
#think4 {
  top: 73%;
  left: 17.7%;
  z-index: 2;
}
.skip_buttom:hover {
opacity: 0%;
transition: 0s;
transition: .1s;
}
.skip_buttom:hover ~ h1 {
  color: black;
  transition: .1s;
}
